* {
    font-family: garamond;
    background-color: black;
}

/* Main part of the page (top)*/
#containerMainTitle {
    width: 100%;
}
#mainTitle{
    color: white;
    font-size: 120px;
    text-align: center;
}
#buttonPasswordRow {
    display: flex;
    justify-content: center;
    margin: 0%;
}
#homeButton {
    padding: 1px;
    margin: 15px;
}

/*Middle part*/
#passwordContainer {
    margin: 0;
    padding: 1%;
}
#passwordInput {
    padding: 15px;
    width: 70%;
}
#passwordSubmitButton {
    margin-left: 1%;
    background-color: white;
}